<main>
    <div id="logo">
        <img src="assets/logo.png" alt="">
    </div>
    <div id="user">
        <div id="change-screen-div" *ngIf="authorized">
            <span class="material-symbols-outlined" *ngIf="currentScreen == 'Home'" (click)="ChangeScreen('/nps')">speed</span>
            <span class="material-symbols-outlined"*ngIf="currentScreen == 'NPS'" (click)="ChangeScreen('/home')">home</span>
            {{ currentScreen == 'Home' ? 'NPS' : 'Home' }}
        </div>
        <div id="userData">
            <img src="assets/user-icon.png" alt="">
            <div>{{nome}}</div>
        </div>
        <div id="logout-button-div" (click)="Logout()">
            <span class="material-symbols-outlined">logout</span>
        </div>
    </div>
</main>