<main>
    <div id="container">
        <div id="login-div">
            <img src="assets/logo.png" alt="">
            <h1>Cadastro</h1>
            <input class="input" type="text" placeholder="Nome" (keyup.enter)="CreateUser()" [(ngModel)]="username">
            <input class="input" type="password" placeholder="Senha" (keyup.enter)="CreateUser()" [(ngModel)]="password">
            <div *ngIf="invalidInputs" class="error"> {{ errorMessage }} </div>
            <button class="login-button" (click)="CreateUser()">Cadastrar</button>
            <div id="sign-up-div">Já tem uma conta?
                <a routerLink="/signIn">voltar a tela de login</a>
            </div>
        </div>
    </div>
</main>
<app-sucessful-message-modal [message]="'Usuário cadastrado!'"></app-sucessful-message-modal>
