<main>
    <div id="container">
        <div id="login-div">
            <img src="assets/logo.png" alt="">
            <h1>Login</h1>
            <input class="input" type="text" placeholder="Nome" (keyup.enter)="Login()" [(ngModel)]="username">
            <input class="input" type="password" placeholder="Senha" (keyup.enter)="Login()" [(ngModel)]="password">
            <div *ngIf="invalidInputs" class="error"> {{ errorMessage }} </div>
                <button class="login-button" (click)="Login()">Entrar</button>
            <div id="sign-up-div">
                Ainda não tem uma conta? <a routerLink="/signUp">cadastrar-se</a>
            </div>
        </div>
    </div>
</main>
<app-sucessful-message-modal [message]="'Seu login expirou!'"></app-sucessful-message-modal>

