<dialog id="formsmodal" #formsmodal>
    <div id="forms-title">
        <h2>Formulários</h2>
    </div>
    <div id="forms-container">
        <div *ngFor="let form of forms">
            <div class="forms-div">
            <div id="options">
                <span class="material-symbols-outlined" (click)="openUpdateModal($event)">edit</span>
                <span class="material-symbols-outlined" (click)="openDeleteModal($event)">delete</span>
            </div>
            <div id="formId-div">{{ form.id }}</div>
            <div id="form-name-div">{{ form.name }}</div>
            </div>
        </div>
    </div>
    <div>
        <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
    </div>
    <app-delete-modal *ngIf="showDeleteModal" [itemId]="groupId" [itemType]="'form'" (itemDeleted)="loadForms()"></app-delete-modal>
    <app-update-modal *ngIf="showUpdateModal" [groupId]="groupId"></app-update-modal>
</dialog>