<div id="container">
    <div class="users-div">
        <div class="info-container">
            <select id="dropdown">
                <option value="" disabled selected hidden>Usuários promotores</option>
                <option value="1" disabled>User 1</option>
                <option value="2" disabled>User 2</option>
                <option value="3" disabled>User 3</option>
            </select>
        </div>
        <div class="info-container">
            <select id="dropdown">
                <option value="" disabled selected hidden>Usuários passivos</option>
                <option value="1" disabled>User 1</option>
                <option value="2" disabled>User 2</option>
                <option value="3" disabled>User 3</option>
            </select>
        </div>
        <div class="info-container">
            <select id="dropdown">
                <option value="" disabled selected hidden>Usuários detratores</option>
                <option value="1" disabled>User 1</option>
                <option value="2" disabled>User 2</option>
                <option value="3" disabled>User 3</option>
            </select>
        </div>
    </div>
</div>