<dialog id="questionsmodal" #questionsmodal>
    <div id="header-container">
        <div id="create-container">
            <button (click)="openQuestionsCreateModal()" *ngIf="authorized">Criar pergunta</button>
            <button (click)="openCheckAnswersModal()" *ngIf="authorized">Consultar respostas</button>
        </div>
        <div>    
            <h2>Perguntas do formulário {{ formName }}</h2>
        </div>
    </div>
    <div id="questions-container">
        <div *ngFor="let question of questions; let i = index">
            <app-item-box [itemName]="question.content" [itemId]="question.id" [itemType]="'question'"></app-item-box>
            <div id="answers-container">
                <select [(ngModel)]="selectedGrades[i]">
                    <option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">{{ number }}</option>
                </select>
                <div class="description-input">
                    <input type="text" placeholder="Descrição (opcional)" [(ngModel)]="descriptions[i]">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="questions.length == 0" class="no-items-message">
        Nenhuma pergunta encontrada.
    </div>
    <div id="allign-buttons-div">
        <div class="error" *ngIf="invalidInputs">{{ errorMessage }}</div>
        <div [ngClass]="{'buttons-div': questions.length > 0}">
            <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
            <button class="confirm-btn" (click)="PopulateAnswers()" *ngIf="questions.length > 0">Enviar</button>
        </div>
    </div>
</dialog>
<app-questions-create-modal></app-questions-create-modal>
<app-sucessful-message-modal [message]="'Respostas Enviadas!'"></app-sucessful-message-modal>
<app-check-answers-modal></app-check-answers-modal>