<app-header></app-header>
<main>
    <div class="screen-main-container">
        <div class="header">
            <div class="create-container">
                <button (click)="openFormsCreateModal()" *ngIf="authorized">Criar formulário</button>
                <button (click)="openCheckAnswersModal()" *ngIf="authorized">Consultar respostas</button>
            </div>
            <h1>Formulários</h1>
            <app-search-component (itemSearched)="filterForms($event)"></app-search-component>
        </div>
        <div class="no-items-message" *ngIf="filteredForms.length == 0">
            Nenhum formulário encontrado
        </div>
        <div id="forms-container">
            <div *ngFor="let form of filteredForms">
                <app-item-box [itemName]="form.name" [itemId]="form.id" [itemType]="'form'"></app-item-box>
            </div>
        </div>
    </div>
</main>
<app-forms-create-modal (formCreated)="loadForms()"></app-forms-create-modal>
<app-check-answers-modal></app-check-answers-modal>