<app-header></app-header>
<main>
    <div id="container">
        <h1>Formulários</h1>
        <div id="search-container">
            <app-search-component (itemSearched)="filterForms($event)"></app-search-component>
        </div>
        <div id="groups-container">
            <div *ngFor="let form of forms">
                <div class="groups-div" (click)="openQuestionsModal(form.id, form.name)">
                    <div class="options" *ngIf="authorized">
                        <span class="material-symbols-outlined" (click)="openUpdateModal(form.id, form.name); $event.stopPropagation()">edit</span>
                        <span class="material-symbols-outlined" (click)="openDeleteModal(form.id); $event.stopPropagation()">delete</span>
                    </div>
                    <div class="item-name-div">{{ form.name }}</div>
                </div>
            </div>
        </div>
        <div class="no-items-message" *ngIf="forms.length == 0">
            Nenhum formulário encontrado
        </div>
    </div>
</main>

<!-- modais -->