<dialog id="createGroupsModal" #createGroupsModal>
    <div id="header-div">
      <h2>Criar grupos</h2>
    </div>
    <div id="container">
      <div id="items-div">
        <div class="groups-input-box">
          <div>Nome do grupo: </div>
          <input type="text" placeholder="Nome do grupo" [(ngModel)]="newGroup.name">
          <button class="add-form-button">+</button>
        </div>
      </div>
      <div id="forms-container">
        <div class="form-container" *ngFor="let form of newGroup.forms; let formIndex = index">
          <div class="input-box">
            <div>Nome do formulário {{ formIndex }}: </div>
            <input type="text" placeholder="Nome do formulário" [(ngModel)]="form.name">
          </div>
          <div id="questions-container" *ngFor="let question of form.questions; let questionsIndex = index">
            <div class="input-box">
              <div>Pergunta {{ questionsIndex }}: </div>
              <input type="text" placeholder="Pergunta" [(ngModel)]="question.content">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
    </div>
  </dialog>
  