<div id="container">
    <div class="create-container">
        <div class="create-div">
            <span class="material-symbols-outlined">add</span>
        </div>
        <div class="text-div">Criar grupo</div>
    </div>
    <div class="create-container">
        <div class="create-div">
            <span class="material-symbols-outlined">add</span>
        </div>
        <div class="text-div">Criar formulário</div>
    </div>
    <div class="create-container">
        <div class="create-div">
            <span class="material-symbols-outlined">add</span>
        </div>
        <div class="text-div">Criar pergunta</div>
    </div>
</div>