<div id="menu-bar">
    <div id="logo">
        <img src="assets/logo.png" alt="">
    </div>
    <div id="user">
        <div id="change-screen-div">
            <span class="material-symbols-outlined" *ngIf="toWhichScreen == 'NPS'" (click)="goToNpsScreen()">speed</span>
            <span class="material-symbols-outlined"*ngIf="toWhichScreen == 'Home'" (click)="goToHomeScreen()">home</span>
            {{ toWhichScreen }}
        </div>
        <div id="userData">
            <img src="assets/fotoDeUsuario.png" alt="">
            <div id="username-div">{{nome}}</div>
        </div>
        <div id="logout-button-div" (click)="Logout()">
            <span class="material-symbols-outlined">logout</span>
        </div>
    </div>
</div>