<div id="container">
  <div id="groups-title">
    <h1>Grupos</h1>
  </div>
  <div id="groups-container">
    <div *ngFor="let group of formsGroups">
      <div class="groups-div" (click)="GetGroupId($event)">
        <div id="options" (click)="showOptions()">
          <span class="material-symbols-outlined">more_vert</span>
        </div>
        <div id="groupId-div">{{ group.id }}</div>
        <div id="group-name-div">{{ group.name }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="showModal">
    <app-forms-modal [groupId]="groupId"></app-forms-modal>
  </div>

</div>
