<main>
    <div id="allign-creates">
        <div class="create-container">
            <div class="create-div" (click)="openGroupsCreateModal()">
                <span class="material-symbols-outlined">add</span>
            </div>
            <p class="text-div">Criar grupo</p>
        </div>
        <div class="create-container">
            <div class="create-div" (click)="openFormsCreateModal()">
                <span class="material-symbols-outlined">add</span>
            </div>
            <p class="text-div">Criar formulário</p>
        </div>
        <div class="create-container">
            <div class="create-div" (click)="openQuestionsCreateModal()">
                <span class="material-symbols-outlined">add</span>
            </div>
            <p class="text-div">Criar pergunta</p>
        </div>
        <div class="create-container">
            <div class="create-div" (click)="openCheckAnswersCreateModal()">
                <span class="material-symbols-outlined">checkbook</span>
            </div>
            <p class="text-div">Consultar respostas</p>
        </div>
    </div>
</main>
<app-groups-create-modal></app-groups-create-modal>
<app-forms-create-modal></app-forms-create-modal>
<app-questions-create-modal></app-questions-create-modal>
<app-check-answers-modal></app-check-answers-modal>