<app-header></app-header>
<main>
    <div class="screen-main-container">
        <div class="header">
            <div class="create-container">
                <button (click)="openGroupsCreateModal()" *ngIf="authorized">Criar grupo</button>
                <button (click)="openCheckAnswersModal()" *ngIf="authorized">Consultar respostas</button>
            </div>
            <h1>Grupos</h1>
            <app-search-component (itemSearched)="filterGroups($event)"></app-search-component>
        </div>
        <div id="groups-container">
            <div *ngFor="let group of groups">
                <app-item-box [itemName]="group.name" [itemId]="group.id" [itemType]="'group'"></app-item-box>
            </div>
        </div>
        <div class="no-items-message" *ngIf="groups.length == 0">
            Nenhum grupo de formulários encontrado
        </div>
    </div>
</main>
<app-groups-create-modal></app-groups-create-modal>
<app-check-answers-modal></app-check-answers-modal>