<div id="main">
  <div id="container">
    <h2>Grupos</h2>
    <div id="groups-container">
      <div *ngFor="let group of formsGroups">
        <div class="groups-div" (click)="openFormsModal(group.id)">
          <div id="options" *ngIf="authorized">
            <span class="material-symbols-outlined"
              (click)="openUpdateModal(group.id); $event.stopPropagation()">edit</span>
            <span class="material-symbols-outlined"
              (click)="openDeleteModal(group.id); $event.stopPropagation()">delete</span>
          </div>
          <div id="group-name-div">{{ group.name }}</div>
        </div>
      </div>
    </div>
    <div id="no-groups-message" *ngIf="formsGroups.length == 0">
      Não há grupos de formulários cadastrados
    </div>
  </div>
</div>
<app-forms-modal [groupId]="groupId" [authorized]="authorized"></app-forms-modal>
<app-delete-modal [id]="groupId" [item]="'group'" (itemDeleted)="loadFormsGroups()"></app-delete-modal>
<app-update-modal [id]="groupId" [item]="'group'" (itemUpdated)="loadFormsGroups()"></app-update-modal>
<app-sucessful-message-modal></app-sucessful-message-modal>