<div id="container">
    <h1>Grupos</h1>
  <div id="groups-container">
    <div *ngFor="let group of formsGroups">
      <div class="groups-div" (click)="openFormsModal($event)">
        <div id="options" *ngIf="authorized">
          <span class="material-symbols-outlined" (click)="openUpdateModal($event); $event.stopPropagation()">edit</span>
          <span class="material-symbols-outlined" (click)="openDeleteModal($event); $event.stopPropagation()">delete</span>
        </div>
        <div id="groupId-div">{{ group.id }}</div>
        <div id="group-name-div">{{ group.name }}</div>
      </div>
    </div>
  </div>
  <div id="no-groups-message" *ngIf="formsGroups.length == 0">
    Não há grupos de formulários cadastrados
  </div>
  <app-forms-modal [groupId]="groupId" [authorized]="authorized"></app-forms-modal>
  <app-delete-modal [itemId]="groupId" [itemType]="'group'" (itemDeleted)="loadFormsGroups()"></app-delete-modal>
  <app-update-modal [itemId]="groupId" [itemType]="'group'" (itemUpdated)="loadFormsGroups()"></app-update-modal>
  <app-sucessful-message-modal></app-sucessful-message-modal>
</div>
