#container {
    min-height: 200px;
    min-width: 1400px;
    margin-top: 50px;
    border-radius: 2rem;
    background-color: rgb(233, 233, 233);
    border: 1px solid gray;
    box-shadow: 0px 10px 15px gray;
    text-align: center;

    h1{
        margin-top: 20px;
        color: gray;
    }
}

#groups-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.groups-div{
    margin: 25px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid gray;
    position: relative;
}

.groups-div:hover{
    border: 1px solid black;
    transition: 0.3s;
    transform: scale(1.02);
} 

#group-name-div{
    margin-bottom: 10px;
    padding: 5px;
    word-break: break-word;
}

#options{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#no-groups-message {
    margin-top: 40px;
    font-size: 1.5rem;
    color: gray;
}