#checkAnswersModal {
    max-height: 650px;
    width: 1600px;
    text-align: center;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 15px rgb(73, 73, 73);

    h2 {
        margin: 10px 0px 40px 0px;
    }
}

#header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-input-container {
    display: flex;
    align-items: center;
    position: relative;

    button {
        position: absolute;
        left: 320px;
        bottom: 30px;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 2rem;
        background-color: rgb(233, 233, 233);
        cursor: pointer;

        span {
            font-size: 25px;
        }
    }
}

#container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.selects {
    width: 300px;
    height: 40px;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: rgb(233, 233, 233);
    text-align: center;
    margin: 10px 0px 30px 0px;
}

#answers-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 10px 0px 10px;
    border-radius: 1rem;
    background-color: rgb(233, 233, 233);
}

.answer-header {
    width: 80%;
    margin-top: 10px;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;
}

.answer-info {
    width: 80%;
    margin: 10px 0px 10px 0px;
    border-radius: 1rem;
    background-color: white;
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    div {
        margin: 5px;
    }
}

#allign-buttons-div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal-btn {
    height: 40px;
    width: 100px;
    background-color: rgb(167, 45, 45);
    border: none;
    outline: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.close-modal-btn:hover {
    transition: 0.3s;
    background-color: rgb(201, 55, 55);
}

.submit-btn {
    height: 40px;
    width: 100px;
    background-color: rgb(36, 151, 32);
    border: none;
    outline: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    transition: 0.3s;
    background-color: rgb(45, 190, 40);
}

.error {
    color: red;
    font-size: 15px;
    height: 10px;
    width: 300px;
    margin-bottom: 20px;
}