#checkAnswersModal {
    max-height: 650px;
    width: 1600px;
    text-align: center;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 15px rgb(73, 73, 73);
    z-index: 10;

    h2 {
        margin: 10px 0px 40px 0px;
    }
}

#header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-input-container {
    display: flex;
    align-items: center;
    position: relative;

    button {
        position: absolute;
        left: 320px;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 2rem;
        background-color: rgb(233, 233, 233);
        cursor: pointer;

        span {
            font-size: 25px;
        }
    }
}

#container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#answers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 10px 0px 10px;
    border-radius: 1rem;
    background-color: rgb(233, 233, 233);
    align-self: start;
}

.answer-header {
    width: 80%;
    margin-top: 10px;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;
}

.answer-info {
    width: 80%;
    margin: 10px 0px 10px 0px;
    border-radius: 1rem;
    background-color: white;
    text-align: left;
    padding: 10px;
    word-break: break-word;

    div {
        margin: 5px;
    }
}

#allign-buttons-div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
