<dialog id="checkAnswersModal" #checkAnswersModal>
    <h2>Consultar respostas</h2>
    <div id="header-div" *ngIf="mode == 'questionMode'">
        <div>Pergunta que deseja ver as respostas: </div>
        <div class="main-input-container">
            <select class="select" [(ngModel)]="selectedId" (change)="GetAnswersByQuestionId()">
                <option value="" disabled selected hidden>Selecione uma pergunta</option>
                <option *ngFor="let question of questions" [value]="question.id">
                    {{ question.content }}
                </option>
            </select>
            <button><span class="material-symbols-outlined" (click)="changeMode()">sync</span></button>
        </div>
    </div>
    <div id="header-div" *ngIf="mode == 'userMode'">
        <div>Usuário que deseja ver as respostas: </div>
        <div class="main-input-container">
            <select class="select" [(ngModel)]="selectedId" (change)="GetAnswersByUserId()">
                <option value="" disabled selected hidden>Selecione um usuário</option>
                <option *ngFor="let user of users" [value]="user.id">
                    {{ user.name }}
                </option>
            </select>
            <button><span class="material-symbols-outlined" (click)="changeMode()">sync</span></button>
        </div>
    </div>
    <div id="answers-container">
        <div class="answer-container" *ngFor="let answer of answers; let i = index">
            <div class="answer-header">
                <p *ngIf="mode == 'questionMode'">Usuário: {{ answer.username }}</p>
                <p *ngIf="mode == 'userMode'">{{ answer.question }}</p>
            </div>
            <div class="answer-info">
                <div>Nota: {{ answer.grade }}</div>
                <div>Descrição: {{ answer.description }}</div>
            </div>
        </div>
    </div>
    <div id="allign-buttons-div">
        <div class="no-items-message" *ngIf="answersListEmpty">Não há respostas {{mode == 'userMode' ? 'deste usuário' : 'nesta pergunta'}}.</div>
        <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
    </div>
</dialog>