#formsmodal {
    width: 70%;
    max-height: 66%;;
    text-align: center;
    background-color: white;
    border: none;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 0px 20px;
    box-shadow: 0px 5px 15px rgb(73, 73, 73);
    overflow-y: auto;
}

#forms-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

#allign-btn-div {
    margin-top: 10px;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

