<dialog id="formsmodal" #formsmodal>
    <div class="header">
        <div class="create-container">
            <button type="button" (click)="openFormsCreateModal()" *ngIf="authorized">Criar formulário</button>
            <button (click)="openCheckAnswersModal()" *ngIf="authorized">Consultar respostas</button>  
        </div>
        <h2>Formulários do grupo {{ groupName }}</h2>
        <app-search-component (itemSearched)="filterForms($event)"></app-search-component>
    </div>
    <div *ngIf="forms.length == 0" class="no-items-message">
        Nenhum formulário encontrado.
    </div>
    <div id="forms-container">
        <div *ngFor="let form of forms">
            <app-item-box [itemName]="form.name" [itemId]="form.id" [itemType]="'form'"></app-item-box>
        </div>
    </div>
    <div id="allign-btn-div">
        <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
    </div>
</dialog>
<app-forms-create-modal></app-forms-create-modal>
<app-check-answers-modal></app-check-answers-modal>
