<dialog id="questionsmodal" #questionsmodal>
    <h2>Perguntas</h2>
    <div *ngIf="questions.length == 0" class="no-items-message">
        Não há perguntas nesse formulário.
    </div>
    <div id="questions-container" (answersSubmited)="loadQuestions()">
        <div *ngFor="let question of questions; let i = index">
            <div class="questions-div">
                <div class="options" *ngIf="authorized">
                    <span class="material-symbols-outlined" (click)="openUpdateModal(question.id, question.content)">edit</span>
                    <span class="material-symbols-outlined" (click)="openDeleteModal(question.id)">delete</span>
                </div>
                <div class="item-name-div">{{ question.content }}</div>
            </div>
            <select [(ngModel)]="selectedGrades[i]">
                <option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">{{ number }}</option>
            </select>
            <div class="description-input">
                <input type="text" placeholder="Descrição (opcional)" [(ngModel)]="descriptions[i]">
            </div>
        </div>
    </div>
    <div id="allign-buttons-div">
        <div class="error" *ngIf="invalidInputs">Todos as perguntas são obrigatórias!</div>
        <div [ngClass]="{'buttons-div': questions.length > 0, 'buttons-div-center': questions.length == 0}">
            <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
            <button class="confirm-btn" (click)="PopulateAnswers()" *ngIf="questions.length > 0">Enviar</button>
        </div>
    </div>
</dialog>

<app-delete-modal [id]="questionId" [item]="'question'" (itemDeleted)="loadQuestions()"></app-delete-modal>
<app-update-modal [id]="questionId" [item]="'question'" [name]="questionContent" (itemUpdated)="loadQuestions()"></app-update-modal>
<app-sucessful-message-modal [message]="'Respostas Enviadas!'"></app-sucessful-message-modal>