<app-header></app-header>
<main>
    <div class="screen-main-container">
        <div class="header">
            <div class="create-container">
                <button (click)="openQuestionsCreateModal()" *ngIf="authorized">Criar perguntas</button>
                <button (click)="openCheckAnswersModal()" *ngIf="authorized">Consultar respostas</button>
            </div>
            <h1>Perguntas</h1>
            <app-search-component (itemSearched)="filterQuestions($event)"></app-search-component>
        </div>
        <div id="questions-container">
            <div *ngFor="let question of questions">
                <app-item-box [itemName]="question.content" [itemId]="question.id" [itemType]="'question'"></app-item-box>
            </div>
        </div>
        <div class="no-items-message" *ngIf="questions.length == 0">
            Nenhum formulário encontrado
        </div>
    </div>
</main>
<app-questions-create-modal></app-questions-create-modal>
<app-check-answers-modal></app-check-answers-modal>
