#formsmodal {
    width: 1300px;
    min-height: 220px;
    z-index: 999;
    text-align: center;
    background-color: white;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 15px rgb(73, 73, 73);

    h2 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

#forms-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.forms-div {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid gray;
    position: relative;
    margin-bottom: 30px;
}

.forms-div:hover {
    border: 1px solid black;
    transition: 0.3s;
    transform: scale(1.02);
}

#options {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#form-name-div {
    margin-bottom: 10px;
    padding: 5px;
    word-break: break-word;
}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.close-modal-btn {
    height: 40px;
    width: 100px;
    background-color: rgb(167, 45, 45);
    border: none;
    outline: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.close-modal-btn:hover {
    transition: 0.3s;
    background-color: rgb(201, 55, 55);
}

.no-forms-message {
    margin: 60px 0px 40px 0px;
    text-align: center;
    font-size: 20px;
}