#formsmodal {
    width: 1300px;
    min-height: 220px;
    text-align: center;
    background-color: white;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 15px rgb(73, 73, 73);

    h2 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

#forms-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.forms-div {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid gray;
    position: relative;
    margin-bottom: 30px;
}

.forms-div:hover {
    border: 1px solid black;
    transition: 0.3s;
    transform: scale(1.02);
}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

