<dialog id="updatemodal" #updatemodal>
    <main>
        <p>Editar</p>
        <input #nameInput class="input" type="text" (keyup.enter)="UpdateItem()" [(ngModel)]="name">
        <div *ngIf="invalidInput" id="error">Nome Inválido!</div>
        <div id="button-container">
            <button class="close-modal-btn" (click)="closeModal()">Fechar</button>
            <button class="confirm-btn" (click)="UpdateItem()">Confirmar</button>
        </div>
    </main>
</dialog>
<app-sucessful-message-modal [message]="'Editado com sucesso!'"></app-sucessful-message-modal>