* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.close-modal-btn{
    height: 50px;
    width: 120px;
    background-color: rgb(167, 45, 45);
    border: none;
    outline: none;
    border-radius: 1.2rem;
    color: white;
    cursor: pointer;
}

.close-modal-btn:hover{
    transition: 0.3s;
    background-color: rgb(224, 61, 61);
}

.confirm-btn{
    height: 50px;
    width: 120px;
    background-color: rgb(36, 151, 32);
    border: none;
    outline: none;
    border-radius: 1.2rem;
    color: white;
    cursor: pointer;

}

.confirm-btn:hover{
    transition: 0.3s;
    background-color: rgb(45, 190, 40);
}

.error {
    color: red;
    font-size: 15px;
    height: 10px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    border-radius: 1rem;
    margin-top: 20px;
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    background-color: lightgray;
}

.login-button {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    border-radius: 1rem;
    border: none;
    background-color: rgb(26, 54, 109);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.03);
    transition: 0.3s;
    background-color: rgb(54, 79, 128);
}

.select {
    width: 300px;
    height: 40px;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: rgb(233, 233, 233);
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.options {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.item-name-div {
    padding: 5px;
    word-break: break-word;
}

.no-items-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-main-container {
    min-height: 200px;
    max-height: 510px;
    width: 75%;
    margin-top: 13vh;
    border-radius: 2rem;
    border: 1px solid gray;
    box-shadow: 0px 5px 15px gray;
    text-align: center;
    overflow-y: auto;
}

.create-container {
    height: 40px;
    min-width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    button {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
    }
    
    button:hover {
        transition: 0.2s;
        transform: scale(1.02);
    }
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        align-items: flex-start; 

        div, h1 {
            margin-bottom: 15px; 
        }
    }
}

.items-div{
    height: 195px;
    width: 320px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid gray;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.items-div:hover{
    border: 1px solid black;
    transition: 0.3s;
    transform: scale(1.02);
} 


